<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095622271172-o0hnvacv8v97vrg6o6on5pojggmel85g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095622271172-o0hnvacv8v97vrg6o6on5pojggmel85g</string>
	<key>API_KEY</key>
	<string>AIzaSyDHsoU4GAE0JiWznKrpqU3VwGABeZIxLEM</string>
	<key>GCM_SENDER_ID</key>
	<string>1095622271172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymobile.superchat</string>
	<key>PROJECT_ID</key>
	<string>superchat-mad22</string>
	<key>STORAGE_BUCKET</key>
	<string>superchat-mad22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095622271172:ios:ce3632f473f67c6a35a991</string>
</dict>
</plist>